body {
	margin: 0;
}

.gallery {
	display: flex;
	justify-content: center;
	width: 90%;
	margin: 10px auto;
	gap: 1rem;
}

.gallery img { 
	width: 100%;
	height: auto;
	margin-bottom: 1rem;
	cursor: zoom-in;
}

.column {
	display: flex;
	flex-direction: column;
	width: 25%;
}